table{
    margin-left: 10%;
}

td{
    
    color:blueviolet;
    font-style:normal;
    padding: 15px;
    
}
table, th, td {
    border: 2px solid rgb(26, 210, 48);
    border-collapse: collapse;
  }
#messages
{
display: none;
}