body{
    border: 20px solid white;
    padding: 30px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: black;
    color:white;
}
table,th,tr,td{
   border : 1px solid white;
   border-collapse: collapse;
}
label,input{
    padding: 0px !important;
    margin:0px !important;
}
input{
    margin-bottom: 4px !important;
}
h3{
    text-align: center;
}
td{
   
    padding:6px 10px;
}
th{
    text-align: center;
}